<div id="base">
    <div class="banner">
        <img src="assets/Banner 2.svg" alt="banner" id="banner">
    </div>

    <!-- side page nav -->
    <nav id="side-nav">

        <a [routerLink]="['/caseStudy']" fragment="overview-section" class="nav-link">Overview</a>
        <a [routerLink]="['/caseStudy']" fragment="background-section" class="nav-link">Background</a>
        <a [routerLink]="['/caseStudy']" fragment="challenge-section" class="nav-link">Challenge</a>
        <a [routerLink]="['/caseStudy']" fragment="approach-section" class="nav-link">Approach</a>
        <a [routerLink]="['/caseStudy']" fragment="discovery-section" class="nav-link">Discovery</a>
        <a [routerLink]="['/caseStudy']" fragment="scope-section" class="nav-link">Defining the Scope</a>
        <a [routerLink]="['/caseStudy']" fragment="user-testing-section" class="nav-link">Preliminary User Testing</a>
        <a [routerLink]="['/caseStudy']" fragment="launch-section" class="nav-link">The Launch</a>
        <a [routerLink]="['/caseStudy']" fragment="conclusion-section" class="nav-link">Conclusion and Learning</a>
    </nav>

    <div class="all-topics overview" id="overview-section">
        <h1 id="project-desc">Helping School Counsellors Manage Online/Offline Admissions Efficiently</h1>

        <div class="table-layout">
            <div class="data">
            </div>

            <div class="data">
                <div>TIMELINE</div>
                <div class="bold-text">Apr 2022 - Aug 2022</div>
            </div>

            <div class="data">
                <div>PLATFORM</div>
                <div class="bold-text">Web App</div>
            </div>

            <div class="data">
                <div>MY ROLE</div>
                <div class="bold-text">Product Designer</div>
            </div>

            <div class="data">
            </div>
        </div>

        <h1 class="topic">OVERVIEW</h1>
        <p class="topic-desc">
            Just as the School Admission counsellors want the admission management system to be user-friendly,
            efficient, and effective along with wanting to be able to easily access, update, and track student
            information we want them to experience the same flexibility and control when it comes to fulfilling their
            target conversions. The Newton Admission Module provides an overall streamlined and efficient admissions
            process that helps schools to attract and retain more students, as well as improve the overall counsellor
            experience.
        </p>
        <p class="desc-p2">This is my story of designing the “Newton Admissions” - base module of Newton Classroom, an
            ERP that empowers administrators to experience hassle-free Admission Processes.</p>
    </div>

    <div class="banner">
        <img src="assets/Thumbnail 1.svg" alt="thumbnail-1" id="thumbnail-1">
    </div>
    <div class="all-topics background" id="background-section">
        <h1 class="topic">BACKGROUND</h1>
        <h2 class="questions">
            What is Newton?
        </h2>
        <p class="topic-desc">
            Just as the School Admission counsellors want the admission management system to be user-friendly,
            efficient, and effective along with wanting to be able to easily access, update, and track student
            information we want them to experience the same flexibility and control when it comes to fulfilling their
            target conversions. The Newton Admission Module provides an overall streamlined and efficient admissions
            process that helps schools to attract and retain more students, as well as improve the overall counsellor
            experience.
        </p>

        <h2 class="questions">
            My Role
        </h2>
        <p class="topic-desc">
            As UX/UI Designer , I worked with multiple cross-functional teams that included 2 product managers, 3
            Front-end developers, 4 backend developers, and Customer Excellence Representative, to redesign and deliver
            the module. The designs were monitored and timely reviewed by design Lead Vaibhav Vardhan.
            <br>Responsibilities during the process include contextual research, product documentation, interaction
            design, visual design, and handoff document.
            The final deliverables include multiple rounds of product discussion, development walk through, and design
            iterations.
        </p>

        <h2 class="questions">
            Project Summary
        </h2>
        <p class="topic-desc">
            This project took place between April 2022 and August 2022. The 5-month deadline was crucial to follow since
            academic admissions start in the month of October and our launch date was finalised to 15th Oct 2022.
            <br>The application was earlier designed in 2021 however it was not shipped due to functional errors
            occurrence. Hence the key goal of this update are to find faults in the current flow and work on improving
            them.
        </p>

        <h2 class="questions">
            Why we decided to launch the admission module first
        </h2>
        <p class="topic-desc">
            Admission management is a critical feature for any school and also in a school ERP application because it
            plays a key role in the enrolment process. It helps manage the flow of applicants, organize and track
            important student information, and automate many of the administrative tasks associated with
            admissions.
            <br>Overall, an admission management module can help counsellors to manage and organize the
            admissions process more effectively and efficiently, while also providing insights and data to improve the
            process and make better decisions.
        </p>
        <div class="dashed-line"></div>
    </div>

    <div class="all-topics challenge" id="challenge-section">
        <h1 class="topic">CHALLENGE</h1>
        <h2 class="questions">
            Objective:
        </h2>
        <p class="topic-desc">
            Before we start, let's recollect the key factor behind putting Newton on the market and the problem we tried
            to solve.
            <br><br>
            In our Traditional school management system the biggest problem that a school face are the prevalence of
            paper-based systems. Almost all out there do a lot of paperwork and it goes without saying that they are
            highly burdened by the same. In such a situation it is natural that we would find it really difficult to
            maintain the data and records in proper order.
            <br><br>
            This is where Newton comes as the solution. We built extraordinarily efficient applications to help schools
            maintain systematic processes and get organized management solutions.
            <br><br>
            However, despite all digital work administrators still approach manual or on-paper methods for various
            internal processes. This leads to various problems namely-
            Unorganized admission communications & parent interactions
            Delayed timeline due to the level of dependencies
            Unorganized progress tracking
            <br><br>
            Which results in the Loss of valuable customers, affecting the Counselor’s Performance too
            <br><br>
            So here we will be discussing about How we can solve the above problems by going through the approach we
            followed and the exercises we did in order to understand the user’s pain points and validate design
            decisions.
        </p>
        <div class="sub-image">
            <img src="assets/Bottom of the Pyramid - UX 1.svg" alt="Bottom of the Pyramid - UX 1"
                id="bottom-of-the-pyramid-UX-1">
        </div>

        <h2 class="questions">
            Increase accountability of Admission Counsellors
        </h2>
        <p class="topic-desc">
            Since pandemic, there has been a rapid change in the school ecosystem with the consumption of digital
            management where both parties expect and are more inclined towards the efficient medium for high system
            status visibility.
            <br>This inherently means that we are not redoing the entire experience from scratch. Instead, we are
            improving core experiences and UI wherever necessary such that development can be done in 8-10 weeks and
            pushed to production
            <br>Our challenge was to evolve with the ecosystem and solve the ground-level users’ needs, which include
            improving efficiencies and accountability of Admission Counsellors at school and optimising the entire
            Admission process. Also keeping the flow non-intimidating for non-tech savvy Admission counsellors.
            <br>The design aesthetic needed to be updated to fit Newton's new style guide.
        </p>


        <h2 class="questions">
            User Goals
        </h2>
        <p class="topic-desc">
            Primarily we should help the schools in creating a better first impression with parents. This would mean
            that parents should experience a seamless process during Admissions with high system status visibility and
            increased branding content..
        </p>


        <h2 class="questions">
            Business Goals
        </h2>
        <p class="topic-desc">
            Ensuring all designs are to be delivered in a timely manner to minimize boost costs.
        </p>

        <div class="dashed-line"></div>
    </div>


    <div class="all-topics approach" id="approach-section">
        <h1 class="topic">THE APPROACH</h1>
        <p class="quote">“ Building the right thing as opposed to building the thing right” - Jeff Bezos</p>
        <h2 class="questions">
            Applying Product Discovery
        </h2>
        <p class="topic-desc">
            Since we were supposedly making "significant improvements" and redesigning the beta product, we used the
            Product Discovery method rather than the conventional Research system.
            <br>
            Product discovery allows us to refine product ideas by deeply understanding real user problems and then
            finding the best way to solve them.
        </p>


        <div class="sub-image">
            <img src="assets/Product discovery' 1.svg" alt="Product discovery' 1" id="product-discovery-1">
        </div>


        <h2 class="questions">
            Pursuing cascading streams
        </h2>
        <p class="topic-desc">
            The creation and implementation of features were divided into multiple simultaneous tasks. I was in charge
            of designing all elements related to the Application’s Internal Interfaces.
            <br><br>
            The project's feature phases were completed in sequence, and after each feature was designed and received
            approval, the engineering team started the process of implementing it.
            <br><br>
            I collaborated with product managers and design lead to adapt product features for their specific context.
            At the same time, I was designing the next feature while also working closely with the engineering teams
            associated with my own platform to ensure that the current feature was fully implemented.
        </p>

        <p class="grey-quote">
            “The approach of having a strict launch date and a wide-ranging project scope, created an intense
            environment with many challenges in terms of coordination and time management.”
        </p>


        <div class="sub-image">
            <img src="assets/design process.svg" alt="design process" id="design-process">
        </div>
        <br><br><br>

        <div class="sub-image">
            <img src="assets/design principles.svg" alt="design principles" id="design-principles">
        </div>
        <div class="dashed-line"></div>
    </div>



    <div class="all-topics discovery" id="discovery-section">
        <h1 class="topic">THE DISCOVERY</h1>
        <p class="quote">The previously unreleased version needed a UX audit, hence a contextual test was conducted with
            our Customer Excellence lead and Ex-admission counsellor Jahnavi Plumb who worked directly on various ERP
            platforms while being a teacher herself. This method helped us understand the workflow, behavior, and
            expectations from the module and get key insights that defined the last version of the product.</p>
        <h2 class="questions">
            Workflow
        </h2>
        <p class="topic-desc">
            To understand user requirements it's important to understand the workflow. Based on the conversation with
            the former Admission counsellor it became easier to jot down the entire admission process which helped
            validate the ideas and proposed features.
        </p>
    </div>
    <div class="banner">
        <img src="assets/workflow.svg" alt="workflow" id="workflow">
    </div>
    <div class="all-topics discovery">
        <h2 class="questions">
            Competitive Analysis
        </h2>
        <p class="topic-desc">
            As usual, every project I work on starts with a bit of competitive analysis.
            <br><br>
            I started by comparing the six major competitors which have similar services and business models with
            Newton, aiming to find out what’s unique about our product and what we should improve.
        </p>

        <div class="sub-image">
            <img src="assets/ca 1.svg" alt="ca 1" id="ca-1">
        </div>
        <br>


        <h2 class="questions">
            Customer Journey Map
        </h2>
        <p class="topic-desc">
            After carefully understanding the requirements and compelling the market strategies I made a Journey map
            supporting all touch-points and flow for any counsellors.
        </p>

        <div class="sub-image">
            <img src="assets/JMap- Admission Cousellor 1.svg" alt="JMap- Admission Cousellor 1"
                id="JMap-admission-cousellor-1">
        </div>
        <br>



        <h2 class="questions">
            Insights From Contextual Test
        </h2>
        <p class="topic-desc">
            The planning phase was guided by research on customers and the market. We conducted a contextual inquiry
            research with our user to gather detailed information about how they interact with the module.
            <br>
            These are the key insights that defined the launch version of the product:
        </p>

        <div class="sub-image">
            <img src="assets/insights.svg" alt="insights" id="insights">
        </div>
        <br>

        <div class="dashed-line"></div>
    </div>


    <div class="all-topics scope" id="scope-section">
        <h1 class="topic">DEFINING THE SCOPE</h1>
        <p class="quote">An important skill for any designer is to understand the scope of a project and then the
            ability to keep within the scope. The product manager provided me with the requirements that the module
            should have and any new additions.

        </p>
        <p class="topic-desc">
            I kicked off this requirement by first estimating my time to find a solution. Constant coordination with PM
            was made to deeply comprehend the PRD and began the fun stuff: design exploration.
        </p>

        <div class="sub-image">
            <img src="assets/projectRequirementDocument.svg" alt="projectRequirementDocument"
                id="project-requirement-document">
        </div>

        <h2 class="questions">
            Page Structure
        </h2>
        <p class="topic-desc">
            Also, the product manager provided me with the requirements of the various pages that the portal should have
            and any new additions. I further made a breakdown of attributes that need to be included in the page for
            further discussion and finalising the page format. Here is how the page structure looked.
        </p>


        <div class="sub-image">
            <img src="assets/SITE 1.svg" alt="SITE 1" id="site-1">
        </div>



        <h2 class="questions">
            Iterative High Fidelity Wireframe
        </h2>
        <p class="topic-desc">
            After the brainstorming session with the design lead it's time to get the wireframe done. We run through
            iterative wire-framing by creating multiple versions of screens to be redesigned to finalize the layout and
            incorporate new features. The intent of this approach was to create a User-Centered Design that would
            address the needs and goals of all counsellors.
        </p>


        <div class="sub-image">
            <img src="assets/Iterative High Fidelity Wireframe.svg" alt="Iterative High Fidelity Wireframe"
                id="iterative-high-fidelity-wireframe">
        </div>

        <div class="dashed-line"></div>

    </div>

    <div class="all-topics how-it-works">
        <h1 class="steps">1. Dashboard Experience</h1>

        <p class="topic-desc">
            The initial task was to develop a Statistical Dashboard that would provide an overview of key performance
            indicators related to conversion. The design was simple, but the tricky part was figuring out which content
            to present.. The dashboard was revamped by reorganising how information was presented, incorporating a quick
            task glance feature with additional details.
            <br>Considerations taken into account when redesigning the dashboard included.
        </p>
        <ul class="topic-desc">
            <li>

                We updated the user interface by changing the colours to create a more modern look and more effectively
                convey the value of Newton, resulting in improved customer satisfaction.
            </li>
            <li>

                Made key performance indicators more easily visible to users.
            </li>
            <li>

                Graphical statistics have been included to evaluate the admission procedure.
            </li>
            <li>

                The widgets are designed to be multi-functional and provide metrics for all possible scenarios.
            </li>
        </ul>


    </div>
    <div class="banner">
        <img src="assets/Dashboard 1.svg" alt="Dashboard 1" id="dashboard-1">
    </div>

    <div class="all-topics how-it-works">
        <h1 class="steps">2. All Student Landing Page</h1>

        <p class="topic-desc">
            The next redesign focused on the landing screens which serve as a central location for all candidate
            information.
            <br>The redesign of the candidate detail experience was carried out after careful consideration, which
            included:
        </p>
        <ul class="topic-desc">
            <li>

                Navigation was added to enable easy switching between different stages of the admission process, which
                helps to reduce the time needed to access student information at each stage.

            </li>
            <li>
                Visual differences were introduced in all landing screens to enable easy identification of the screen
                type.
            </li>
            <li>
                By using the Progressive Disclosure property on the table, data is distributed in a way that makes it
                easy for counsellors to analyse the information they need.
            </li>
        </ul>


    </div>
    <div class="banner">
        <img src="assets/Landing Screens 2.svg" alt="Landing Screens 2" id="landing-screens-2">
    </div>

    <div class="all-topics how-it-works">
        <h1 class="steps">3. Candidate Profile Page</h1>

        <p class="topic-desc">
            The candidate profile view allows counsellors to monitor and keep records of all relevant information
            related to the admission process. While redesigning this screen, emphasis was placed on ensuring Visibility
            Property, as counsellors needed to be able to take quick action.
            <br>The information is presented in four cards, each of which displays important data related to the
            candidate, including:
        </p>
        <ul class="topic-desc">
            <li>
                Candidate Details - For each candidate, a specific Identifier is provided which gives information and
                attributes related to the admission process. Additional profile-related information can be accessed by
                utilising the call to action provided.
            </li>
            <li>
                Admission Process - Given the layout changes, I suggested implementing an efficient method for users to
                navigate through the different stages of the admission process. Since the information density is low for
                all stages, it is feasible to consider adding UI elements to enhance the click experience.
            </li>
            <li>
                Followups - The follow-up card feature was included based on user requirements. It is essential for the
                follow-ups to be visible on the candidate's profile as it helps to address delays or issues that might
                occur.
            </li>
            <li>
                Notes - Given the significance of monitoring all forms of communication throughout the admission
                process, we have incorporated a notes widget on the profile screen, enabling counsellors to easily take
                notes during conversations with parents.
            </li>
        </ul>


    </div>
    <div class="banner">
        <img src="assets/Candidate Profile 2.svg" alt="Candidate Profile 2" id="candidate-profile-2">
    </div>

    <div class="all-topics how-it-works">
        <h1 class="steps">4. Global Appointments Page</h1>

        <p class="topic-desc">
            This area shows all appointments set for the day for every AC and stage, which aids in more effective
            planning for that day, particularly for interactions with the Principal.
            <br>It is important for counsellors to keep track of appointments separately from other activities.
            Therefore, the new proposed layout separates the appointments into two sections: active and closed
            appointments.
        </p>


    </div>
    <div class="banner">
        <img src="assets/Global Appointment 2.svg" alt="Global Appointment 2" id="global-appointment-2">
    </div>

    <div class="all-topics how-it-works">
        <h1 class="steps">5. Introducing Followups</h1>

        <p class="topic-desc">
            Follow-ups are important in the school admission management process for several reasons. First, it allows
            the school staff to keep track of the status of a candidate's application and ensure that all necessary
            steps have been completed. Additionally, it serves as a way to communicate with the candidate and their
            family, which can be critical for ensuring that the process goes smoothly. Following up also allows the
            school staff to identify and address any issues that may arise, such as missing documents or incomplete
            forms. Finally, it serves as a way to ensure that the school is meeting its enrolment goals and that the
            candidate is aware of the next steps in the process.
        </p>
        <p class="quote">This section displays all follow-up plans scheduled for the day for each AC, which helps them
            efficiently call back parents and update the status on Newton.</p>


    </div>
    <div class="banner">
        <img src="assets/Followups 2.svg" alt="Followups 2" id="followups-2">
    </div>

    <div class="all-topics how-it-works">
        <h1 class="steps">6. Other Experiences</h1>
        <h2 class="questions">
            Profile Details
        </h2>
        <p class="topic-desc">
            This view provides a timeline of all events, including all minor details such as the date of enquiry, the
            application date, the school visit date and more.
        </p>
        <div class="sub-image">
            <img src="assets/Profile Details 1.svg" alt="Profile Details 1" id="profile-details-1">
        </div>

        <h2 class="questions">
            Candidate Communications
        </h2>
        <p class="topic-desc">
            The administrator can access a list of all historical messages (both SMS and Email) sent to the candidate,
            which can be viewed through the candidate's profile.
        </p>
        <div class="sub-image">
            <img src="assets/Candidate Communications 1.svg" alt="Candidate Communications 1"
                id="candidate-communications-1">
        </div>

        <h2 class="questions">
            Activity Log
        </h2>
        <p class="topic-desc">
            To enable counsellors to track all actions and events that occur within the application or system during the
            admission process, a dedicated space needs to be kept for this purpose.
        </p>
        <div class="sub-image">
            <img src="assets/Activity Log 1.svg" alt="Activity Log 1" id="activity-log-1">
        </div>

        <h2 class="questions">
            Reject/Droff-off Candidate
        </h2>
        <p class="topic-desc">
            The administrator can change the candidate's status to Rejected, Drop-off, or return it to Active.
        </p>
        <div class="sub-image">
            <img src="assets/Droff-off Candidate 1.svg" alt="Droff-off Candidate 1" id="droff-off-candidate-1">
        </div>
        <div class="dashed-line"></div>

    </div>

    <div class="all-topics user-testing" id="user-testing-section">

        <h1 class="topic">PRELIMINARY USER TESTING</h1>
        <p class="topic-desc">
            When the design is partly implemented , I conducted few user testing to verify that the design successfully
            communicates the user requirements and experience, and also identifies some usability issues that could be
            improved in the future.
        </p>
        <h2 class="questions">
            Major Finding
        </h2>
        <p class="quote">The modern use of color of the application is well-liked by all participants, regardless of
            their gender, who find it "well-organized," and "aesthetically pleasing.”</p>

        <ol class="topic-desc">
            <li>
                Users are requesting to see the type of inquiry (web/walk-in) as it would assist the marketing team in
                planning their campaigns.
            </li>
            <li>
                Despite the filters being in place, most applicants find it challenging to access information about
                candidates who have been successfully admitted.
            </li>
            <li>
                Some areas needed UI changes to reduce user confusion and minimize the number of clicks required.
            </li>
        </ol>

        <p class="grey-quote">
            “Taking into consideration the time limitation, we made substantial changes that ensured a smooth launch.”
        </p>
    </div>
    <div class="banner">
        <img src="assets/changes 1.svg" alt="changes 1" id="changes-1">
    </div>
    <div class="all-topics" id="launch-section">
        <div class="dashed-line"></div>
        <div class="sub-image">
            <img src="assets/launch.svg" alt="launch" id="launch">
        </div>
        <h1 class="topic">THE IMPACT</h1>
        <p class="topic-desc">
            Although the service is still in its early stages, it has exceeded our expectations. Since its launch, it
            has become a model for other schools and has attracted 3 more schools to adopt Newton Classroom based on the
            prototype we used for demonstration.
            Despite the rapid growth, we focused on enhancing key metrics such as engagement, retention, adoption, and
            acquisition. Post-launch release notes were implemented to enhance the user experience.
        </p>
        <div class="dashed-line"></div>

        <h1 class="topic" id="conclusion-section">CONCLUSION & LEARNING</h1>

        <p class="grey-quote">
            A promising beginning, and there's still much more to come. 🎉
        </p>

        <p class="topic-desc">
            This was one of my first large projects, and I was fortunate to work with a great team. During the
            collaboration with the engineering team to implement the design, I encountered some challenges such as
            determining the maximum width of widgets and addressing responsive issues. It was a valuable learning
            experience for me.
            <br><br>
            From this project, I also learned how to use color and design elements to make the design more engaging and
            inviting, rather than dull.
            <br><br>
            It is pleasing to see that the design has a real impact on the business. Firstly, the new design has been
            successful in increasing customer engagement and satisfaction, as evidenced by user feedback. Secondly, the
            designs serve as the foundation to attract a greater number of schools.
        </p>
    </div>
</div>