<div class="about-me-main">
    <img src="assets/self-img.svg" alt="self-img" id="self-img">
    <div id="desc">
        <div class="spacer"></div>
        <div class="spacer"></div>
        <h1>Hi! I’m Amina,</h1>
        <h5>Product (UX/UI) Designer in Hyderbad</h5>
        <p>As a UX designer with a background in banking and a degree in computer applications, I bring a unique perspective to the design process. My experience in the financial industry has given me a deep understanding of the needs and pain points of customers, which I apply to my user-centered design approach. My technical knowledge allows me to effectively communicate and collaborate with development teams. I am constantly learning and staying up-to-date on the latest design trends and methodologies to deliver exceptional user experiences.</p>
    </div>
    <div id="my-journey">
        <h1>🚀 MY JOURNEY TO BECOME UX DESIGNER 🚀</h1>
        <img src="assets/My Journey 1.svg" alt="My Journey 1">
    </div>
    <div class="hr"></div>
    <div  class="footer">
        <div id="self-contact" class="footer-contacts">
            <img src="assets/profile-pic.svg" alt="profile-pic" id="profile-pic">
            <span id="name-designation">
                <p>Amina Nasrin<br><span style="font-weight: lighter; font-size: 1.2rem; margin-top: 1vh;">Product Designer</span></p>
            </span>
        </div>
        <div id="contacts" class="footer-contacts">
            <p id="all-contacts">
                <img src="assets/envelope.svg" alt="envelope"> nasrin.amina143@gmail.com<br>
                <img src="assets/phone.svg" alt="phone"> +91-8918468608<br>
                <img src="assets/map-marker-alt.svg" alt="map-marker-alt"> Burdwan W.B. India
            </p>
        </div>
    </div>
</div>
