* {
    color: var(--grey-font-color);
}

.about-me-main {
    box-sizing: border-box;
    position: absolute;
    top: 10vh;
    height: fit-content;
    padding: 5vh 5vw;
    /* padding-bottom: 10vh; */
}

#self-img {
    max-height: 70vh;
}

#desc {
    box-sizing: content-box;
    background-color: var(--about-me-background);
    border: 1px solid var(--case-study-card-border);
    position: absolute;
    top: 10vh;
    padding: 5vh 2vw;
    left: 25vw;
    width: 60vw;
    height: 50vh;
    border-radius: 8px;
}

#my-journey {
    padding-top: 10vh;
    width: 85vw;
    text-align: center;
}

.hr {
    background-image: radial-gradient(#C9877B, #FFF);
    height: 2px;
}

.footer {
    padding: 10vh 2vw;
    display: flex;
}

#self-contact, #contacts{
    width: 40vw;
}

#self-contact{
    display: flex;
}

#profile-pic{
    padding: 2vh;
}

#name-designation{
    padding: 4vh 0;
    font-size: 1.8rem;
    font-weight: bolder;
}

#contacts{
    padding: 2vh 0;
    padding-left: 20vw;
    font-weight: bold;
    line-height: 2rem;
}