<mat-toolbar>
    <span id="copywrite">
        <a mat-button routerLink="\" id="self-link">
            &copy;2024  aminanasrin.com 
        </a>  
    </span>
    <span class="spacer"></span>
    <a mat-button href="https://www.linkedin.com/in/amina-nasrin-3a435b170/" target="_blank" class="nav-link linkedin">
        <img src="assets/linkedIn.svg" alt="linkedin" id="linkedin" class="socials social-link">
        <img src="assets/linkedIn-hover.svg" alt="linkedin-hover" id="linkedin-hover" class="socials social-link-hover">
    </a>
    <a mat-button href="https://www.frontendmentor.io/profile/aminaNasrin" target="_blank" class="nav-link behance">
        <img src="assets/behance.svg" alt="behance" id="behance" class="socials social-link">
        <img src="assets/behance-hover.svg" alt="behance-hover" id="behance-hover" class="socials social-link-hover">
    </a>
    <a mat-button href="https://leetcode.com/zarasparrow23/" target="_blank" class="nav-link dribble">
        <img src="assets/dribble.svg" alt="dribble" id="dribble" class="social social-link">
        <img src="assets/dribble-hover.svg" alt="dribble-hover" id="dribble-hover" class="socials social-link-hover">
    </a>
    <a mat-button href="https://github.com/aminaNasrin" target="_blank" class="nav-link medium">
        <img src="assets/medium.svg" alt="medium" id="medium" class="social social-link">
        <img src="assets/medium-hover.svg" alt="medium-hover" id="medium-hover" class="socials social-link-hover">
    </a>
    
</mat-toolbar>
