<mat-toolbar>
  <span>
    <img src="assets/Logo.svg" alt="logo" id="logo">
  </span>
  <span class="spacer"></span>
  <!-- <a mat-button routerLink="/home" class="nav-link hello" routerLinkActive="active">_hello</a> -->
  <a mat-button routerLink="/work" class="nav-link prokect" routerLinkActive="active">Work</a>
  <a mat-button routerLink="/about" class="nav-link about-me" routerLinkActive="active">About Me</a>
  <span class="spacer"></span>
  <a mat-button class="resume download-link" href="assets/Resume_AminaNasrin.png" download="Resume_AminaNasrin">Download CV</a>
</mat-toolbar>