<div id="base">
  <h1>Good design is<br> invisible.</h1>
  <p class="main">Strategic thinker crafting clean, effective designs that seamlessly blend user <br>delight with business success.</p>

  <div class="spacer"></div>
  <div class="spacer"></div>

  <h2>Selected Case Studies</h2>
  <p>In the past 4 years, I've designed consumer-facing products, business-facing products and internal tools for brands identity.</p>
  <!-- Write a for loop for case studies and fetch info from config file -->
  <div class="case-studies">
    <span>
      <h5>NEWTON CLASSROOM - ADMISSION PORTAL</h5>
      <div class="spacer"></div>

      <h3>Helping School Counsellors Manage Online/Offline Admissions Efficiently</h3>
      <div class="spacer"></div>
      <!-- <a routerLink="/about">
        <h6>Read Case Study -></h6>
      </a> -->
      <a mat-button routerLink="/caseStudy" class="nav-link" routerLinkActive="active">Read Case Study -></a>
  
    </span>
    <span>
      <img src="assets/NEWTON CLASSROOM - ADMISSION PORTAL.svg" alt="NEWTON CLASSROOM - ADMISSION PORTAL" class="case-studies-image">
    </span>
  </div>

  <div class="case-studies">
    <span>
      <h5>THINKBRIDGE - DASH SOLUTIONS CLIENT PORTAL</h5>
      <div class="spacer"></div>

      <h3>Strategic thinker crafting clean, effective designs that seamlessly blend user deligh</h3>
      <div class="spacer"></div>
      <h6>Coming Soon -></h6>
    </span>
    <span>
      <img src="assets/THINKBRIDGE - DASH SOLUTIONS CLIENT PORTAL.svg" alt="THINKBRIDGE - DASH SOLUTIONS CLIENT PORTAL" class="case-studies-image">
      <img src="assets/protected.svg" alt="protected" id="protected">
    </span>
  </div>


  <h2>Other Casestudies On Behance</h2>
  <p>An archive of products I’ve designed. Effective, polished designs that convert.</p>
  <!-- Write a for loop for case studies and fetch info from config file -->
  <div class="behance-case-studies">
      <img src="assets/mindlofe.svg" alt="mindlofe" class="behance-case-studies-image">
      <img src="assets/udemy.svg" alt="udemy" class="behance-case-studies-image">
      <img src="assets/bumble.svg" alt="bumble" class="behance-case-studies-image">
      <a href="https://www.behance.net/" target="_blank">
        <img src="assets/view-behance.svg" alt="view-behance" class="behance-case-studies-image">
      </a>
  </div>

  <h2>Treat to the eye</h2>
  <p>Cherry picked treats showcasing my visual design and UI prototyping skills</p>
  <!-- Write a for loop for case studies and fetch info from config file -->
  <div class="behance-case-studies">
      <img src="assets/Newtonclassroom.svg" alt="newton classroom" class="dribble-case-studies-image">
      <img src="assets/COWORKING SPACES.svg" alt="coworking space" class="dribble-case-studies-image">
      <img src="assets/Ikigai app 1.svg" alt="Ikigai app 1" class="dribble-case-studies-image">
      <a href="https://www.behance.net/" target="_blank">
        <img src="assets/view-dribble.svg" alt="view-dribble" class="dribble-case-studies-image">
      </a>
  </div>

  <h2>Writings</h2>
  <p>I sometimes write to express my thoughts and communicate my ideas.</p>
  <!-- Write a for loop for case studies and fetch info from config file -->
  <div class="case-studies">
    <span>
      <h5>9 min read</h5>
      <div class="spacer"></div>

      <h3>How atomic design methodology is beneficial in creating scalable product experiences</h3>
      <div class="spacer"></div>
      <h6>Read Article -></h6>
    </span>
    <span>
      <img src="assets/writing_1.svg" alt="writing_1" class="writing-image">
    </span>
  </div>

</div>
